apiVersion: v1
kind: ConfigMap
metadata:
  name: web-nginx-conf
  namespace: default
data:
  nginx.conf: |
    user  nginx;
    worker_processes  1;

    events { worker_connections 1024; }

    http {
      server {
        listen 80;
        location / {
          add_header X-Message "v1";
          return 200 "Hello from nginx (v1)\n";
        }
      }
    }
