.terraform
tutoriales/terraform/eks/.terraform.lock.hcl
tutoriales/terraform/eks/terraform.tfstate
tutoriales/terraform/eks/.terraform.tfstate.lock.info
tutoriales/terraform/eks/terraform.tfstate.backup

.vscode/settings.json
