apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: app
          image: nginx:1.25-alpine
          env:
            - name: USERNAME
              valueFrom:
                secretKeyRef:
                  name: web-secret
                  key: username
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: web-secret
                  key: password

